org_id = "XXXXXX"
billing_account_id = "ZZZZZZ"
gcs_region = "YYYYYY"
parent_folder_name = "bootstrap"
artefacts_folder_name = "artefacts"
seed_project_id = "seed"
artefact_project_id = "artefact-registry"
tf_state_bucket_name = "lz-seed-tf-state"
cb_artefacts_bucket_name = "lz-cloud-build-artefacts"
tf_sa_name = "terraform-core"
enabled_apis = [ 
    "cloudapis.googleapis.com",
    "cloudasset.googleapis.com",
    "cloudbilling.googleapis.com",
    "cloudbuild.googleapis.com",
    "cloudresourcemanager.googleapis.com",
    "containerregistry.googleapis.com",
    "iam.googleapis.com",
    "iamcredentials.googleapis.com",
    "serviceusage.googleapis.com",
    "storage-api.googleapis.com",
    "storage-component.googleapis.com",
    "storage.googleapis.com"
]
registry_enabled_apis = [
    "artifactregistry.googleapis.com"
]
tf_iam_org_roles = [
    "roles/billing.user"
]
tf_iam_folder_roles = [
    "roles/resourcemanager.folderAdmin",
    "roles/resourcemanager.projectCreator",
    "roles/compute.admin",
    "roles/serviceusage.serviceUsageAdmin"
]
artefact_registry_repo_id = "artefact-repo"
org_phase_repo_name = "lz-org"
policy_lib_repo_name = "policy-lib"